* {
    margin: 0;
    padding: 0;
}

:root {
    background-color: #fffdd0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 100%;
    color: black !important;
}

header {
    text-align: center;
}

header h1 {
    background-color: #c269c2 !important;
    font-size: 3.25rem;
    padding: 4rem;
}

form {
    display: flex;
}

h2 {
    font-size: 4rem;
}

p {
    font-size: 1rem;
    text-align: center;
    display: flex;
    align-items: center;
}

.landing-container {
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100vw;
    max-width: 75%;
    max-height: 50%;
    /* margin-top: 5rem; */
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 20rem;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.form-title {
    text-align: center;
    font-size: 2rem;
}

.padding-fix {
    padding: 1rem;
}

.card-container {
    margin: 2rem;
    padding: 0.5rem;
    border-style: double;
    display: flex;
    justify-content: space-between;
}

.movie-info {
    height: 4rem;
    margin-top: 1rem;
    margin-inline: .5rem;
    display: flex;
    flex-direction: column;
    align-items: space-around;
}

.zero {
    margin: 0;
    padding: 0;
}

.overview {
    max-width: 35%;
    display: flex;
    justify-content: flex-end;
}

.info-size {
    max-width: 50rem;;
}

#input-title {
    font-size: 1.25rem;
    width: 30rem;
    padding: .5rem;
    margin-top: .25rem;
    border-color: #272727;
    background-color: white;
    display: flex;
    justify-content: center;
}

.check-padding {
    padding-inline: 1rem !important;
    font-size: 1.5rem;
}

#searchBtn {
    background-color: #c269c2;
    font-size: 2rem;
    width: 20rem;
    padding: .5rem;
    margin: .5rem;
    transition: box-shadow .5s;
}

#searchBtn:hover {
    cursor: pointer;
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
    transform: translateY(-.1rem);
    transition: tranform 150ms;
}

#searchBtn:active {
    transform: translateY(.1rem);
    transition: transform 150ms;
}

.movie-header {
    background-color: #c269c2 !important;
    font-size: 3.5rem;
    padding: 2rem;
}

.card-container {
    margin-top: 20px;
}

#recipe-page {
    background-color: #c269c2 !important;
    font-size: 3.5rem;
    max-width: 100% !important;
}

#search-recipe {
    font-size: 4rem !important;
    padding: 1rem !important;
    color: black;
}

#searchRecipeBtn {
    background-color: #c269c2;
    font-size: 2rem;
    width: 20rem;
    padding: .5rem;
    margin: .5rem;
    transition: box-shadow .5s;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#searchRecipeBtn:hover {
    background-color: #863186;
    ;
}

.img-container {
    display: flex;
    justify-content: center;
    margin: 10px;
}

#popcorn,
#cookies,
#remote {
    border: dashed 6px #c269c2;
    max-width: 20rem;
    margin: 10px;
}

#return {
    font-size: 2rem;
}

#input-recipe {
    font-size: 1.25rem;
    width: 30rem;
    padding: .5rem;
    margin-top: 2rem;
    border-color: #272727;
    background-color: white;
    display: flex;
    justify-content: center;
}

.recipe-content {
    display: flex;
    flex-wrap: wrap;

}

#recipe-return {
    display: flex;
    justify-content: center !important;
    text-align: center;
    background-color: #c269c2;
    border-radius: 8px;
    border: none;
    padding: 5px;
    margin: 10px;
}

#backToMovie {
    background-color: #c269c2;
    font-size: 1.5rem;
    width: 15rem;
    padding: .5rem;
    margin: .5rem;
    transition: box-shadow .5s;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#backToMovie:hover {
    background-color: #d3c946;
}