* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #fffdd0;
    font-size: 100%;
}

header {
    text-align: center;
}

header h1 {
    background-color: #c269c2;
    font-size: 3.5rem;
    padding: 4rem;
}

form {
    display: flex;
}

.landing-container {
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100vw;
    height: 50vh;
    max-width: 75%;
    max-height: 50%;
    margin-top: 5rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 20rem;
}

.flex-row {
    display: flex;
    flex-direction: row;
    margin: .5rem;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#form-title {
    text-align: center;
    font-size: 1.5rem;
}

#input-title {
    font-size: 1.25rem;
    width: 30rem;
    padding: .5rem;
    margin-top: .25rem;
    border-color: #272727;
    background-color: white;
}

.check-padding {
    padding: 0 1rem;
}
